form {

    /* width: 1000px; */

}

h5 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.to-do-h1 {
    display: flex;
    justify-content: center;
}

.to-do-form {
    display: flex;
    margin: auto;
    gap: 20px;

}

.to-do-input,
input[type="text"] {
    width: 900px !important;
    height: 40px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 2px 0 0 10px;
    font-size: 20px;
}

.to-do-add-btn {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 200px;
    height: 40px;

}

.task-List {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 400px;
    margin: 0 auto;
}

.task-List ul {
    font-size: 25px;
    margin-top: 30px;
}

.task-List ul li {
    list-style-type: none;
    position: relative;
    text-align: justify;
    border: 1px solid brown;
    margin-bottom: 5px;
}

.task-List ul li span {
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: rgb(255, 252, 252);
    height: auto;
    text-align: center;
    width: 30px;

}

.task-List ul li input[type="checkbox"] {
    position: absolute;
    right: 40px;
    top: 13px;

}
.completetodo{

    background-color: green;
    color: white;
}